<form method="post" action="{{ path('app_profil_respiratoire_delete', {'id': profil_respiratoire.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ profil_respiratoire.id) }}">
    <button class="btn">Delete</button>
</form>
