{% extends 'base.html.twig' %}

{% block title %}New FacteursDeStressEmotionnel{% endblock %}

{% block body %}
    <h1>Create new FacteursDeStressEmotionnel</h1>

    {{ include('facteurs_de_stress_emotionnel/_form.html.twig') }}

    <a href="{{ path('app_facteurs_de_stress_emotionnel_index') }}">back to list</a>
{% endblock %}
