{% extends 'base.html.twig' %}

{% block title %}New ProfilCirculationCoeur{% endblock %}

{% block body %}
    <h1>Create new ProfilCirculationCoeur</h1>

    {{ include('profil_circulation_coeur/_form.html.twig') }}

    <a href="{{ path('app_profil_circulation_coeur_index') }}">back to list</a>
{% endblock %}
