{% extends 'base.html.twig' %}

{% block title %}Edit Vitamines{% endblock %}

{% block body %}
    <h1>Edit Vitamines</h1>

    {{ include('vitamines/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_vitamines_index') }}">back to list</a>

    {{ include('vitamines/_delete_form.html.twig') }}
{% endblock %}
