{% extends 'base.html.twig' %}

{% block title %}New ProfilDetoxEtStressMultiples{% endblock %}

{% block body %}
    <h1>Create new ProfilDetoxEtStressMultiples</h1>

    {{ include('profil_detox_et_stress_multiples/_form.html.twig') }}

    <a href="{{ path('app_profil_detox_et_stress_multiples_index') }}">back to list</a>
{% endblock %}
