<form method="post" action="{{ path('app_choix_de_voies_delete', {'id': choix_de_voie.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ choix_de_voie.id) }}">
    <button class="btn">Delete</button>
</form>
