{% extends 'base.html.twig' %}

{% block title %}Edit Feedbacksupplementaire{% endblock %}

{% block body %}
    <h1>Edit Feedbacksupplementaire</h1>

    {{ include('feedbacksupplementaire/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_feedbacksupplementaire_index') }}">back to list</a>

    {{ include('feedbacksupplementaire/_delete_form.html.twig') }}
{% endblock %}
