.field_form{

} 
.form_style1{
    padding-left: 40px;
    border-radius: 50px;
}
.icon_form{
    padding-left: 40px;
    
}
.form-control{
    height: 45px;
    padding: 10px 15px;
    font-size: 14px;
}