<div class="container">

{{ form_start(form) }}
<div class="row col-lg-12" style="margin:auto ; ">
    {{ form_widget(form) }}
</div>

<br>
<div class="row col-2" style="margin:auto ; ">
    <button class="btn btn-info">{{ button_label|default('Sauvergarder') }}</button>
</div>
<br>
{{ form_end(form) }}
</div>

