{% extends 'base.html.twig' %}

{% block title %}Edit ProfilAllergie{% endblock %}

{% block body %}
    <h1>Edit ProfilAllergie</h1>

    {{ include('profil_allergie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_profil_allergie_index') }}">back to list</a>

    {{ include('profil_allergie/_delete_form.html.twig') }}
{% endblock %}
