{% extends 'base.html.twig' %}

{% block title %}New ProfilAllergie{% endblock %}

{% block body %}
    <h1>Create new ProfilAllergie</h1>

    {{ include('profil_allergie/_form.html.twig') }}

    <a href="{{ path('app_profil_allergie_index') }}">back to list</a>
{% endblock %}
