{% extends 'base.html.twig' %}

{% block title %}Edit GlobalState{% endblock %}

{% block body %}
    <h1>Edit GlobalState</h1>

    {{ include('global_state/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_global_state_index') }}">back to list</a>

    {{ include('global_state/_delete_form.html.twig') }}
{% endblock %}
