<form method="post" action="{{ path('app_balance_hormonale_femelle_delete', {'id': balance_hormonale_femelle.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ balance_hormonale_femelle.id) }}">
    <button class="btn">Delete</button>
</form>
