{% extends 'base.html.twig' %}

{% block title %}New BalanceHormonaleFemelle{% endblock %}

{% block body %}
    <h1>Create new BalanceHormonaleFemelle</h1>

    {{ include('balance_hormonale_femelle/_form.html.twig') }}

    <a href="{{ path('app_balance_hormonale_femelle_index') }}">back to list</a>
{% endblock %}
