{% extends 'base.html.twig' %}

{% block title %}New ProfilRegistreAutoProgramme{% endblock %}

{% block body %}
    <h1>Create new ProfilRegistreAutoProgramme</h1>

    {{ include('profil_registre_auto_programme/_form.html.twig') }}

    <a href="{{ path('app_profil_registre_auto_programme_index') }}">back to list</a>
{% endblock %}
