<form method="post" action="{{ path('app_facteurs_generaux_delete', {'id': facteurs_generaux.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ facteurs_generaux.id) }}">
    <button class="btn">Delete</button>
</form>
