{% extends 'base.html.twig' %}

{% block title %}Modification du rapport{% endblock %}

{% block body %}
<section>
    <div class="container " style="margin:auto;">
        <div class="form-group col-lg-12 ">
            <h1 class="text-center " style="color:black; margin:75px 50px; font-size:50px;">Modification du rapport</h1>
            
        </div>

            {{ include('quantareport/_form.html.twig', {'button_label': 'Update'}) }}

    
    {{ include('quantareport/_delete_form.html.twig') }}
    </div>
     <div class="text-center" style="margin-top:125px ; margin-bottom:50px; ">
        <a href="{{ path('app_quantareport_index') }}" class="btn btn-primary">Liste des rapports</a>
    </div>
</section>
    


{% endblock %}
