{% extends 'base.html.twig' %}

{% block title %}New ReglageOndesCerebrales{% endblock %}

{% block body %}
    <h1>Create new ReglageOndesCerebrales</h1>

    {{ include('reglage_ondes_cerebrales/_form.html.twig') }}

    <a href="{{ path('app_reglage_ondes_cerebrales_index') }}">back to list</a>
{% endblock %}
