<form method="post" action="{{ path('app_chakra_delete', {'id': chakra.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ chakra.id) }}">
    <button class="btn">Delete</button>
</form>
