{% extends 'base.html.twig' %}

{% block title %}New ProfilSinusGorge{% endblock %}

{% block body %}
    <h1>Create new ProfilSinusGorge</h1>

    {{ include('profil_sinus_gorge/_form.html.twig') }}

    <a href="{{ path('app_profil_sinus_gorge_index') }}">back to list</a>
{% endblock %}
