{% extends 'base.html.twig' %}

{% block title %}Edit RegistreDeSusceptibilite{% endblock %}

{% block body %}
    <h1>Edit RegistreDeSusceptibilite</h1>

    {{ include('registre_de_susceptibilite/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_registre_de_susceptibilite_index') }}">back to list</a>

    {{ include('registre_de_susceptibilite/_delete_form.html.twig') }}
{% endblock %}
