<form method="post" action="{{ path('app_profil_homeopathique_delete', {'id': profil_homeopathique.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ profil_homeopathique.id) }}">
    <button class="btn">Delete</button>
</form>
