{% extends 'base.html.twig' %}

{% block title %}New ProfilHomeopathique{% endblock %}

{% block body %}
    <h1>Create new ProfilHomeopathique</h1>

    {{ include('profil_homeopathique/_form.html.twig') }}

    <a href="{{ path('app_profil_homeopathique_index') }}">back to list</a>
{% endblock %}
