{% extends "base.html.twig" %}

{% block title %} LIFE PROTOCOLE SYSTEM {% endblock %}

{% block monTitre %}<div class="fst-italic">LIFE SYSTEM</div>{% endblock %}

{% block body %}



    <div class="text-center">
        <button class="container">
         <a class=" btn btn-warning" href="{{ path('app_fiche_client_new') }}">Creer une nouvelle fiche </a>

        </button>
    </div>
{% endblock %}
