{% extends 'base.html.twig' %}

{% block title %}New AnimauxFamilles{% endblock %}

{% block body %}
    <h1>Create new AnimauxFamilles</h1>

    {{ include('animaux_familles/_form.html.twig') }}

    <a href="{{ path('app_animaux_familles_index') }}">back to list</a>
{% endblock %}
