<form method="post" action="{{ path('app_quanfield_delete', {'id': quanfield.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ quanfield.id) }}">
    <button class="btn">Delete</button>
</form>
