{% extends 'base.html.twig' %}

{% block title %}Edit FacteursDeStressConflictuel{% endblock %}

{% block body %}
    <h1>Edit FacteursDeStressConflictuel</h1>

    {{ include('facteurs_de_stress_conflictuel/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_facteurs_de_stress_conflictuel_index') }}">back to list</a>

    {{ include('facteurs_de_stress_conflictuel/_delete_form.html.twig') }}
{% endblock %}
