{% extends 'base.html.twig' %}

{% block title %}Edit ProfilHormonal{% endblock %}

{% block body %}
    <h1>Edit ProfilHormonal</h1>

    {{ include('profil_hormonal/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_profil_hormonal_index') }}">back to list</a>

    {{ include('profil_hormonal/_delete_form.html.twig') }}
{% endblock %}
