{% extends 'base.html.twig' %}

{% block title %}New ProfilHormonal{% endblock %}

{% block body %}
    <h1>Create new ProfilHormonal</h1>

    {{ include('profil_hormonal/_form.html.twig') }}

    <a href="{{ path('app_profil_hormonal_index') }}">back to list</a>
{% endblock %}
