{{ form_start(form) }}
    {{ form_widget(form) }}

    <br>
    <div class="row col-2" style="margin:auto ; ">
        <button class="btn btn-info">{{ button_label|default('Sauvergarder') }}</button>
    </div>
    <br>
    
{{ form_end(form) }}
