{% extends 'base.html.twig' %}

{% block title %}Edit SecondaryObject{% endblock %}

{% block body %}
    <h1>Edit SecondaryObject</h1>

    {{ include('secondary_object/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_secondary_object_index') }}">back to list</a>

    {{ include('secondary_object/_delete_form.html.twig') }}
{% endblock %}
