{% extends 'base.html.twig' %}

{% block title %}Edit ProfilCellCom{% endblock %}

{% block body %}
    <h1>Edit ProfilCellCom</h1>

    {{ include('profil_cell_com/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_profil_cell_com_index') }}">back to list</a>

    {{ include('profil_cell_com/_delete_form.html.twig') }}
{% endblock %}
